
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fa;
  color: #333;
}

header {
  position: relative;
  color: white;
  padding: 90px;
  text-align: center;

  background-image: url('header.png'); /* replace with your actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
 
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-top: 30px;
  border-radius: 10px;
}

h1,h3 {
  color: white;
}

h2 {
  color: #005b9f;
}

footer {
  background-color: #003f6b;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

img.header-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
